<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OreoOrChocopie</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <!--::header part start::-->
    <%- include('partical/header'); %>
    <!--::header part end::-->

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Dịch vụ</h2>
                            <p>Trang Chủ <span class="ti-angle-double-right"></span> Dịch vụ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end-->

    <!-- Service part start-->
    <section class="service_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-lg-6 col-sm-10">
                    <div class="section_tittle">
                        <img src="static/img/section_tittle_icon.png" alt="icon">
                        <h2>Chi Tiết Dịch Vụ</h2>
                        <p>Mang lại dịch vụ siêu cấp tuyệt vời cho khách hàng nơi đây.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <% if(services.length > 0) { %>
                    <% services.forEach(function(service) { %>
                        <div class="col-md-6 col-lg-4">
                            <div class="single_service_part" style="height: 600px; width: 350px; display: flex; flex-direction: column; justify-content: space-between;">
                                <img src="<%= service.imageUrl %>" alt="<%= service.name %>" 
                                style="padding: 0px; margin-bottom: 0; width: 476px; height: 300px; object-fit: cover;">
                                <div class="single_service_text" style="padding: 15px; overflow: hidden;">
                                    <h4 style="padding: 0px; margin-bottom: 10px;">
                                        <%= service.name %>
                                    </h4>
                                    <p style="padding: 0px; margin-bottom: 10px;">
                                        <%= service.description %>
                                    </p>
                                    <p style="padding: 0px; margin-bottom: 10px;">
                                        <strong>Giá thành:</strong> <%= service.price %>VNĐ
                                    <p style="padding: 0px; margin-bottom: 10px;">
                                        <strong>Thời gian:</strong> <%= service.duration %> phút
                                    </p>
                                    <a href="/booking" class="btn_3" style="margin-top: auto;">Đặt lịch</a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <div class="col-12 text-center">
                        <h4>Hiện tại chưa có dịch vụ nào.</h4>
                    </div>
                <% } %>
            </div>
        </div>
    </section>
    <!-- Service part end-->

    <!--::footer part start::-->
    <%- include('partical/footer'); %>
    <!--::footer part end::-->

    <!-- jquery plugins here-->
    <script src="public/js/jquery-1.12.1.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/custom.js"></script>
</body>

</html>
